{{#if hasBlock}}
  {{yield message (action 'close')}}
{{else}}
  <a {{action 'close'}} class='close'>&times;</a>span
  {{#if message.subject}}
    <span class='subject'>{{message.subject}}{{{message.subjectHtml}}}</span>
  {{/if}}
  <span class='message'>{{message.text}}{{{message.html}}}</span>
  {{#if message.buttonText}}
    <button class='btn-primary btn' {{action message.buttonAction}}>{{message.buttonText}}</button>
  {{/if}}
{{/if}}
