{{#if hasBlock}}
  {{yield message (action 'close')}}
{{else}}
  <a {{action 'close'}} class='close'>&times;</a>
  {{#if message.subject}}
    <span class='subject'>{{message.subject}}</span>
  {{/if}}
  <span class='message'>{{message.text}}{{{message.html}}}</span>
  {{#if message.buttonText}}
    <button class='btn-primary btn' {{action 'clickNotifyButton'}}>{{message.buttonText}}</button>
  {{/if}}
{{/if}}
